<div class="home-content-container">
  <div class="home-main-img">
    <div class="row center main_heading">
        <h1 class="header col-sm-12 light heading1">PROFESSIONAL AND RELIABLE</h1>
        <h1 class="header col-sm-12 light heading2">CLEANING SERVICES</h1>  
        <div class="btn-width">
          <button class="btn" routerLink="/book-your-slot">Get Quote</button>    
        </div> 
        
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 home-page-text">
        <p>We work with clients all over the Perth and in all sectors. From schools and educational institutions to hospitals, care homes, hotels and restaurants – our team is fully qualified, equipped and ready to take on any job, anywhere in Australia.</p>
      </div>
      <div class="col-md-3 home-page-text">
        <p>At 2 pro cleaning services we aspire to be price competitive, and always provide value for money using cost efficiencies across our equipment, staff and innovations.</p>
      </div>
      <div class="col-md-3 home-page-text">
        <p>Our seasoned professional cleaners know how to satisfy our customers’ highest expectations. To guarantee the highest level of cleaning services, we utilise quality control programmes, including on-site inspections and customer surveys.</p>
      </div>
    </div>
  </div>
</div>



