<div class="container main-div">
  <h4 class="aboutus-headtext">Retail cleaning</h4>
  <div>
    <p>2 pro cleaning services cleans your retail business to the highest standard so that you can show off your products at their very best. We understand the unique needs of different retail environments, and our Managers work closely with you to understand your site and it’s specific cleaning requirements. Trust our number one 2 pro cleaners to make your retail space shine for your customers.</p>
    
    <ul>
      <li>Floor care</li>
      <li>Rubbish disposal</li>
      <li>Multi-level dusting</li>
      <li>Staff room cleaning</li>
      <li>Bathroom cleaning</li>
      <li>Trusted and confidential</li>
    </ul>
    
  </div>
</div>