<div class="container">
  <h3 class="contact-us-heading">CONTACT US</h3>
  <div class="row">
    <div class="col-sm-6 contact-div1">
      <p>Give us a call on <span class="phnum">0426536671</span> now to find out more about our professional cleaning services in Perth, or use our online service request form. </p>
        <p>Call today for a free quote or to book a service immediately with one of our teams.</p>
    </div>
    <div class="col-sm-6 contact-us-bg">

    </div>
  </div>
  <div >
    <h4 class="aboutus-headtext">Service Request Form</h4>
    <form class="request-form">
      <div class="input-div">
        <label class="serviceFrmLbls">Name</label>
        <input class="serviceFrmInputs" type="text" />
      </div>
      <div class="input-div">
        <label class="serviceFrmLbls">Email</label>
        <input class="serviceFrmInputs" type="text" />
      </div>
      <div class="input-div">
        <label class="serviceFrmLbls">Phone</label>
        <input class="serviceFrmInputs" type="text" />
      </div>
      <div class="input-div">
        <label class="serviceFrmLbls">Enquiry/Comment</label>
        <textarea class="serviceFrmInputs"></textarea>
      </div>
      <button class="btn send-button">Send Enquiry</button>
    </form>
  </div>
</div>
