<div class="container main-div">
  <h4 class="aboutus-headtext">Educational cleaning</h4>
  <div>
    <p>At 2 pro cleaning services we pride ourselves on our recognised expertise in the educational facilities cleaning sector and for establishing benchmark-setting quality control and performance measures within the industry. </p>
    <p>It is the singular aim of our education cleaning division to provide the highest possible standards of cleaning to education establishments throughout Australia, including colleges, Universities, technical institutes and learning centres. Our staff are highly trained to deliver our cleaning services with your stakeholders in mind. Since we clean because we care, you’ll be confident that your students and teachers are safe and secure when it comes to the cleanliness of the educational institutes and the conduct of our staff.</p>
    <ul>
      <li>We use natural, non-toxic, safe and effective cleaning products.</li>
      <li>We tailor our services to our clients need and requirements, so you only pay for the services that you need for your school.</li>
      <li>We offer a large range of ancillary specialist cleaning services including carpet cleaning and window cleaning.</li>
      <li>All cleaners have police checks.</li>
    </ul>
    <p class="end-p">We’re here to make your life easier when it comes to school cleaning!</p>
  </div>
</div>