<div>
  <div class="aboutus row">
    <div class="col s6 aboutus-heading-div">
        <p class="aboutus-heading">
            Welcome to 2 pro clean<span class="aboutus-tagline">Relief for busy people</span>
        </p>
        <p class="aboutus-text">
          At 2 pro cleaning services we aspire to be price competitive, and always provide
          value for money using cost efficiencies across our equipment, staff and
          innovations.
        </p>
    </div>
    <div class="col s6">

    </div>
  </div>
  <div class="container">
    <h4 class="aboutus-headtext">WHY 2 PRO</h4>
    <div class="why2pro">
      <ul>
        <li>
          <p><span class="why2pro-points">Health &amp; Hygiene :</span>Our products are environmentally friendly and not only used for cleaning
            purposes but to ensure high levels of hygiene and sanitation remain afterwards. You spend
            most of the time either in the house or in the office so it’s essential to maintain a healthy
            work and home life balance.</p>
        </li>
        <li>
          <p><span class="why2pro-points">One Solution :</span>Yes that’s right. We have covered all your House &amp; Garden Needs. Put your
            day-to-day general cleaning and month-to-month or seasonal carpet and window cleaning,
            office equipment sanitizing or pest control, Lawn &amp; Garden Maintenance services on a single
            schedule with a single supplier.</p>
        </li>
        <li>
          <p><span class="why2pro-points">Fully Insured Cleaning Team :</span>Team  Any injuries or damaged caused by cleaning is at no
            additional cost to you because each of our cleaners are fully insured. Company is insured up
            to $5 Million for public liabilities.</p>
        </li>
        <li>
          <p><span class="why2pro-points">Eco Friendly Cleaning</span>Cleaning We don’t use any harmful chemicals, our chemicals are Eco Friendly
            &amp; Bio Degradable. This ensures that your place will be clean and safe with hygiene
            standards. Our HEPA Filtration vacuum system is a key benefit and capture up to 99% of all
            dust, bacteria to ensuring health and safe home.</p>
        </li>  
      </ul>
    </div>
  </div>
  <div class="container">
    <h4 class="aboutus-headtext">HOW 2 PRO WORKS</h4>
    <div class="row">
      <div class="col-sm-6 working-text">
          2 pro makes it easy to find a trusted, experienced house cleaner in your local area.
          Every cleaner is English-speaking, friendly, reliable and trustworthy. They&#39;ve
          been interviewed in-person, background-checked and rated 5-stars by their
          customers.
          As well as being cleaning pros, they can help you with household tasks such
          as laundry and ironing.
          
          Book a regular visit and we’ll send you the same trusted cleaner every week or
          fortnight. If you take advantage of our free key-holding service, they can even clean
          while you’re at work.
          You manage everything online - from booking to payment. Add visits, skip visits,
          leave notes and book extra services including fridge and oven cleaning. 
          We’ve helped thousands of Londoners find a trusted cleaner in their local area. Book
          a one-off clean or a regular visit now, and leave the elbow grease to us.
      </div>
      <div class="col-sm-6 howitworks-bg">
          
      </div>
    </div>
    
  </div>
  <div class="container">
    <h4 class="aboutus-headtext">OUR GUARANTEE</h4>
    <p class="working-text">Our seasoned professional cleaners know how to satisfy our customers’ highest
    expectations. To guarantee the highest level of cleaning services, we utilise quality
    control programmes, including on-site inspections and customer surveys.</p>
    <p class="working-text">Just take a look at our <a>client testimonials</a> and <a>happy business clients</a>.</p>
    <p class="working-text"> We constantly monitor our work, and should any area fail to meet our strict home
    cleaning standards it will be corrected immediately. And of course we always
    encourage customer communication and value your input to perfect our quality of
    service.</p>
  </div>
</div>
