<div class="main-div container">
  <h2 class="services-heading">Our Services</h2>
  <div class="row services-main-div">
    <div class="col-md-3 services-div">
      
      <h5>Office Cleaning</h5>
      <div class="services-text">
      <p>2pro cleaning services always provide comprehensive office cleaning services throughout Perth.. You are welcome to Please phone or email to discuss your office cleaning requirements and how we can help.</p>
    </div>
      <div class="more-btn-div">
      <button class="btn" routerLink='/office-cleaning'>More</button>

      </div>
    </div>
    <div class="col-md-3 services-div">
        
        <h5>Educational Cleaning</h5>
        <div class="services-text">
        <p>At 2 pro cleaning services we pride ourselves on our recognised expertise in the educational facilities cleaning sector and for establishing benchmark-setting quality control and performance measures within the industry. </p>
      </div>
        <div class="more-btn-div">
          <button class="btn" routerLink='/educational-cleaning'>More</button>
    
          </div>
    </div>
    <div class="col-md-3 services-div">
      
      <h5>Hospitality Cleaning</h5>
      <div class="services-text">
      <p>2 pro cleaning services will make your hospitality business sparkle with the toughest of cleaning standards. . Presenting the wow-factor for customers is vital for cafes and restaurants. Jour company helps you achieve this with a tailored cleaning strategy for your business. </p>
      </div>
      <div class="more-btn-div">
        <button class="btn" routerLink='/hospitality-cleaning'>More</button>
  
        </div>
    </div>
    <div class="col-md-3 services-div">
      
      <h5>Retail Cleaning</h5>
      <div class="services-text">
      <p>2 pro cleaning services cleans your retail business to the highest standard so that you can show off your products at their very best. We understand the unique needs of different retail environments, and our Managers work closely with you to understand your site </p>
    </div>
      <div class="more-btn-div">
        <button class="btn" routerLink='/retail-cleaning'>More</button>
  
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 services-div">
      
      <h5>Builders Cleaning</h5>
      <div class="services-text">
      <p>After the completion of any building works it is vital that a property is left in pristine condition. As 2 pro cleaning services we can usually be on site within 24-48 hours to carry out a full Builders Clean.  </p>
      </div>
      <div class="more-btn-div">
        <button class="btn" routerLink='/builders-cleaning'>More</button>
  
        </div>
    </div>
    <div class="col-md-3 services-div">
        
        <h5>Stream Carpet Cleaning</h5>
        <div class="services-text">
        <p>2 pro cleaning services offers professional steam carpet cleaning and other above cleaning services in Perth to match your requirements at a reasonable price. Our carpet cleaning services team is fully trained and highly motivated in professional carpet, steam cleaning and carpet stain removal.  </p>
      </div>
        <div class="more-btn-div">
          <button class="btn" routerLink='/stream-carpet-cleaning'>More</button>
    
          </div>
    </div>
    <div class="col-md-3 services-div">
      
      <h5>Window Cleaning</h5>
      <div class="services-text">
      <p>2 pro Window Cleaning is a fast, reliable and affordable Residential Window Cleaning 2 pro team. In order to get your home looking its sparkling best, your windows need to be crystal clean. Our Residential or Domestic Window Cleaners will have your windows shining in no time. </p>
    </div>
      <div class="more-btn-div">
        <button class="btn" routerLink='/window-cleaning'>More</button>
  
        </div>
    </div>
    <div class="col-md-3 services-div">
      
      <h5>Oven Cleaning and Refrigerators Cleaning </h5>
      <div class="services-text">
      <p>2 pro cleaning services cleaning the oven valets begin with pre-valet safety and function checks before the racks, glass, pan stands</p>
      <p>2pro refrigeration cleaning begins with pre-valet safety and function checks before a thorough defrost of the appliance to ensure any build-up of ice is removed. </p>
      </div>
      <div class="more-btn-div">
        <button class="btn" routerLink='/oven-fridge-cleaning'>More</button>
  
        </div>
    </div>
  </div>
  <!-- <div class="bookNowBtn">
    <button class="btn waves-effect waves-light" (click)="slotBooking()">Book Now
      <i class="material-icons right">send</i>
    </button>
  </div> -->
</div>
