.bookNowBtn{
    text-align: center;
}
.services-heading{
    text-align: center;
    margin: 4%;
}
.services-div{
    text-align: justify;
    border: 1px solid gainsboro;
    // margin-bottom: 10px;
    border-radius: 25px;
    padding: 25px;
}
.more-btn-div{
    text-align: center;
}
.more-btn-div button{
    background-color:aqua;
    border-radius: 20px; 
}
.services-text{
    height: 300px;
}
.services-main-div{
    margin-bottom: 20px;
}
h5{
    text-align: center;
    height: 48px;
}
.services-container{
    margin-bottom: 20px;
}