<div class="container main-div">
  <h4 class="aboutus-headtext">Oven cleaning and Refrigerators cleaning</h4>
  <div>
    <p>2 pro cleaning services cleaning the oven valets begin with pre-valet safety and function checks before the racks, glass, pan stands, and any interior parts are removed and soaked in a concentrated solution. The inside of the oven is then thoroughly cleaned, ensuring any tough carbon or residue present due to everyday use is completely removed. The inside of the oven is then fully wiped down and polished, before the cleaned interior parts are re-fitted, and finishing touches including a final polish and functional tests are carried out. After all your oven looks sparkling and brighter than ever before.</p>
    <p>2pro refrigeration cleaning begins with pre-valet safety and function checks before a thorough defrost of the appliance to ensure any build-up of ice is removed. The racks, shelves, storage trays, door seals and interior of the appliance are then thoroughly cleaned. The valet concludes with finishing touches, a final polish and functional tests.</p>
    
   
    
  </div>
</div>